body {font-family: 'Yekan', sans-serif; background-image: url("images/bg.jpg"); border-top: 2px solid #FF0000;}

#nav-top {float: right; width: 100%; height: auto;}
#img-logo {width: 220px;}
#nav-sec1 ul li {cursor: pointer; transition: 0.5s all ease; display: inline-flex; list-style-type: none; margin: 0 2px; background-color: #FF0000; padding: 10px 20px; font-size: 14px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;}
#nav-sec1 ul li:hover{background-color: #019833;}
#nav-sec1 ul li a {color: #fff !important; text-decoration: none;}
.navbar {padding-bottom: 0 !important;}

#nav-sec2 li {display: inline-flex; margin: 0 !important;  padding: 0 3px; font-size: 14px; float: left; height: 35px;}
#nav-sec2 li a {background-color: #F7F7F7; color: #FF0000; cursor: pointer; transition: 0.5s all ease; list-style-type: none; border-top-right-radius: 10px; border-top-left-radius: 10px;}
#nav-sec2 li a:hover {background-color: #FF0000; color: #fff !important;}
#li-custom-nav a {background-color: inherit !important; font-size: 20px; color: #555555 !important; transition: 0.8s all ease; border-top-right-radius: 10px; border-top-left-radius: 10px;}
#li-custom-nav a:hover {background-color: #555555 !important; color: #fff !important;}
main {float: right; background-color: #F7F7F7; width: 100%; height: auto;}
#sec2 {float: right; width: 100%; height: auto; color: #5A5555 !important;}
.sec2_style {background-color: #FFFFFF !important; box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 6px, rgba(0, 0, 0, 0.06) 0px 3px 6px; width: 96.5%; height: auto; display: inline-flex; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;}
#sec2-left span {padding-left: 50px;}

#sec3 {float: right; width: 100%; height: auto;}
#sec3 input {padding: 10px 45px 10px 0; width: 100%;}
#ostan-part span {position: absolute; right: 25px; top: 6px;}
#ostan-part span img {width: 35px;}
#city-part span {position: absolute; right: 25px; top: 6px;}
#city-part span img {width: 35px;}
#mahalle-part span {position: absolute; right: 25px; top: 6px;}
#mahalle-part span img {width: 35px;}
#sec3 button {width: 50%; padding: 10px 0 10px 0; }
.btnSearch-img {background-image: url("images/search.svg"); background-repeat: no-repeat; background-position: left; background-size: 30px; background-position-x: 10px; background-position-y: 9px; }
.btn-chiefs-close:hover {background-color: #FF0000 !important;}
.btn-search-local:hover {background-color: #009933 !important;}

#sec4 {float: right; width: 100%; height: auto; }
.show-order-by-style {background-color: #fff !important; width: 96.5%; height: auto; float: right; transition: .5s all ease;}
.show-order-by-style:hover {box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 5px, rgba(0, 0, 0, 0.5) 0px 3px 5px}
#sec4 ul {list-style-type: none;}
#sec4 ul li {width: fit-content;}
#sec4 ul li button {width: fit-content; height: auto; float: right; padding: 10px 30px 10px 30px; font-size: small;}
.line-dot {clear: both; width: 98%; margin: 0 auto; border: none; border-bottom: 1px dashed gray; padding: 0 10px;}
.card-body {padding: 1rem 1rem 0 1rem;}
.card:hover {box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 5px, rgba(0, 0, 0, 0.15) 0px 3px 5px;}
.chiefs_pic {width: 60px; height: 60px; position: absolute; top: 90px; left: 70px; border: 1px dashed gray; background-color: #fff;}
.myCustom-cards h6 {color: #ff0000; font-size: 14px;}
.wrap span { position: absolute; left: 0;}
.card-avg-price {font-size: 12px; color: #867979;}
.card-foodList-count {width: 26px; height: 28px; padding: 4px 5px 0 0; border-radius: 180px; border: 1px solid #222222; position: absolute; left: 39px; bottom: 56px; color: #fff; cursor: pointer; font-size: 13px;}
.card-chief-location {font-size: 14px; color: gray; margin-top: 15px;}
#pagination-nums {padding: 5px 5px 0 0;}
#pagination-nums ul li span {font-size: 14px; padding: 5px 10px; width: 60px; text-align: center;}
#pagination-nums ul li span:hover {background-color: #FFE6E6}
#pagination-nums ul li a {font-size: 14px; padding: 5px 10px; width: 40px; text-align: center;}
#pagination-nums ul li a:hover {background-color: #FFE6E6; color: #000;}
.page-item.active .page-link {background-color: #FFE6E6 !important; color: #0a58ca;}
/*.page-item.active:hover {background-color: #FFE6E6; color: #000;}*/
#select-item-count {margin-right: 15px; }
#select-item-count select {padding: 5px 35px 5px 5px;}
#select-item-count-text {color: gray; font-size: small;padding: 6px 15px;}
.pagination li {height: 22px;}



/* start card-stars */
.wrap {width: 155px;direction: ltr;position: relative;left: 72%;margin: 25px 0 0 0;transform: translate(-50%,-50%);border-radius: 10px;}
.stars {width: fit-content;margin: 0 auto;cursor: pointer;}
.star {color: #91a6ff !important;}
.rate {font-size: 12px;position: relative;cursor: pointer;}
.rate input[type="radio"] {opacity: 0;position: absolute; transform: translate(-50%,0%);pointer-events: none;}
.star-over::after {font-family: 'Font Awesome 5 Free';font-weight: 900;font-size: 10px;content: "\f005";display: inline-block;color: #d3dcff;z-index: 1;position: absolute; right: 1px;}
.rate:nth-child(1) .face::after {content: "\f119"; font-size: 25px; /* ☹ */}
.rate:nth-child(2) .face::after {content: "\f11a"; font-size: 25px; /* 😐 */}
.rate:nth-child(3) .face::after {content: "\f118"; font-size: 25px; /* 🙂 */}
.rate:nth-child(4) .face::after {content: "\f580"; font-size: 25px; /* 😊 */}
.rate:nth-child(5) .face::after {content: "\f59a"; font-size: 25px; /* 😄 */}
.face {opacity: 0;position: absolute;width: 35px;height: 35px;background: #91a6ff;border-radius: 5px;top: -50px;left: -6px;transition: 0.2s;pointer-events: none;}
.face::before {font-family: 'Font Awesome 5 Free';font-weight: 900;content: "\f0dd";display: inline-block;color: #91a6ff;z-index: 1;position: absolute;left: 9px;bottom: -15px;}
.face::after {font-family: 'Font Awesome 5 Free';font-weight: 900;display: inline-block;color: #fff;z-index: 1;position: absolute;left: 5px;top: -1px;}
.rate:hover .face {opacity: 1;}
/* end card-stars */


footer ul {background-color: #fff; opacity: .6; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px; padding: 15px 15px 15px 0;}
footer ul li {list-style-type: none; margin: 3px 0 3px 0;}
footer ul li a {color: #666060; font-size: 15px; opacity: .7;}
footer ul li a:hover {color: #333; font-weight: bolder; opacity: 1;}
#email_form {background-color: #fff; opacity: .6; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px; padding: 15px 15px 15px 0;}
#email_form p {font-size: 14px;}
.email_img {width: 15px; background-repeat: no-repeat; float: right;}
#email_form input {width: 60%; display: inline-flex}
#email_form i {position: absolute; top: 70px; right: 25px; font-size: 33px; color: #333;}
.txt_hint {width: 60%; padding: 7px 51px 7px 0;}
#social-icons a img {width: 30px;}
#sub-footer {float: right; width: 100%; text-align: center; color: #575656; background-color: #F7F7F7; vertical-align: center; font-size: 11px; opacity: .8; padding: 10px 0 0 0;}

@media (max-width: 575.98px) {
    .hidden-sm {display: none;}
    .nav-sec2_sm {background-color: #F7F7F7; color: #FF0000; cursor: pointer; transition: 0.5s all ease; list-style-type: none; border-top-right-radius: 10px; border-top-left-radius: 10px; width: 40%; margin: 5px;  text-align: center;}
}

@media (max-width: 767.98px) {
    .hidden-md {display: none;}
    .nav-sec2_md {background-color: #F7F7F7; color: #FF0000; cursor: pointer; transition: 0.5s all ease; list-style-type: none; border-top-right-radius: 10px; border-top-left-radius: 10px; width: 100%; margin: 5px;  text-align: center;}
    .email_form_input {width: 47% !important;}
}

@media (min-width: 767.99px) {

}

@media (min-width: 975px) and (max-width: 1185px){

}

@media (max-width: 991.98px) {
    .hidden-lg {display: none;}
    .nav-sec2_lg {background-color: #F7F7F7; color: #FF0000; cursor: pointer; transition: 0.5s all ease; list-style-type: none; border-top-right-radius: 10px; border-top-left-radius: 10px; width: 100%; margin: 5px;  text-align: center;}
}

@media (min-width: 1184px) {
    .email_form_input {width: 55% !important;}
}

@media (max-width: 1199.98px) {
    .hidden-xl {display: none;}
}

@media (max-width: 1399.98px) {
    .hidden-xxl {display: none;}
}

@media (min-width: 1400px) {
    .hidden-xxl {display: none;}
}

