body {font-family: 'Yekan', sans-serif; background-image: url("images/bg.jpg"); border-top: 2px solid #FF0000;}

.title { font-size: calc(0.525rem + 1.0vw); }

#nav-top {float: right; width: 100%; height: auto;}
#img-logo {width: 220px;}
#nav-sec1 ul li {cursor: pointer; transition: 0.5s all ease; display: inline-flex; list-style-type: none; margin: 0 2px; background-color: #FF0000; padding: 10px 20px; font-size: 14px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;}
#nav-sec1 ul li:hover{background-color: #019833;}
#nav-sec1 ul li a {color: #fff !important; text-decoration: none;}
.navbar {padding-bottom: 0 !important;}

#nav-sec2 li {display: inline-flex; margin: 0 !important;  padding: 0 3px; font-size: 14px; float: left; height: 35px;}
#nav-sec2 li a {background-color: #F7F7F7; color: #FF0000; cursor: pointer; transition: 0.5s all ease; list-style-type: none; border-top-right-radius: 10px; border-top-left-radius: 10px;}
#nav-sec2 li a:hover {background-color: #FF0000; color: #fff !important;}
#li-custom-nav a {background-color: inherit !important; font-size: 20px; color: #555555 !important; transition: 0.8s all ease; border-top-right-radius: 10px; border-top-left-radius: 10px;}
#li-custom-nav a:hover {background-color: #555555 !important; color: #fff !important;}

main {float: right; background-color: #F7F7F7; width: 100%; height: auto;}
#sec2 {float: right; width: 100%; height: auto; color: #5A5555 !important;}
.sec2_style {background-color: #FFFFFF !important; box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 6px, rgba(0, 0, 0, 0.06) 0px 3px 6px; width: 96.5%; height: auto; display: inline-flex; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;}
#sec2-left span {padding-left: 50px;}

#sec3 {float: right; width: 100%; height: auto;}
.sec3-part1 ul {width: 99%; margin-right: 0 !important; padding-right: 0 !important; padding-left: 5px !important;}
.sec3-part1 ul li {float: right; list-style-type: none; padding: 15px 0 15px 10px; background-color: rgba(0, 0, 0, 0.5);}
.sec3-part1 ul li:nth-child(1) {padding-right: 10px !important;}
.sec3-part1 ul li:nth-child(4) {padding-left: 10px !important;}
.sec3-part1 ul li span {position: absolute; top: 25px; right: 10px;}
.sec3-part1 ul li span img {width: 30px;}
.sec3-part1 ul li input {padding: 12px 45px 12px 5px; font-size: 18px; width: 100%;}
#form-search {padding: 0 0 0 0 !important;}
.form-search {background-image: url("images/search.svg"); background-repeat: no-repeat; background-position: left; background-size: 30px; background-position-x: 10px;}
#form-search input {width: 100%; font-size: 18px; padding: 15px 0 12px 10px !important; color: #fff; background-color: #FF0000; transition: 0.5s all ease-in; height: 55px;}
#form-search input:hover {background-color: #1404CD; cursor: pointer;}
.disable-text-selection::selection { color: none; background: none; }
.disable-text-selection::-moz-selection { color: none; background: none; }
#chkbox input[type=checkbox] { width: 20px; height: 20px; }
.FList_R { width: 48.7%; }
.FList_L { width: 48.7%; }
.FoodsList_style:hover { box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 6px, rgba(0, 0, 0, 0.06) 0px 3px 6px; }
#FoodsList a { color: #ff0000; transition: .3s all ease;}
#FoodsList a:hover { color: green; }
#FoodsList span { color: #867993; font-size: 12px;}
#FoodsList .FoodPrice a { color: #ff0000; font-size: 22px; transition: .3s all ease;}
#FoodsList .FoodPrice a:hover { color: green;}
#FoodsList button { transition: .8s all ease; }
#FoodsList button:hover { background-color: #FF6666 !important; }
#Chief_info a { vertical-align: middle; text-decoration: none; color: black !important; font-size: 12px;}
#Chief_info span { vertical-align: middle; }
#Chief_info .checked { color: orange;}
#pagination-nums {padding: 5px 5px 0 0;}
#pagination-nums ul li span {font-size: 14px; padding: 5px 10px; width: 60px; text-align: center;}
#pagination-nums ul li span:hover {background-color: #FFE6E6}
#pagination-nums ul li a {font-size: 14px; padding: 5px 10px; width: 40px; text-align: center;}
#pagination-nums ul li a:hover {background-color: #FFE6E6; color: #000;}
.page-item.active .page-link {background-color: #FFE6E6 !important; color: #0a58ca;}
/*.page-item.active:hover {background-color: #FFE6E6; color: #000;}*/
#select-item-count {margin-right: 15px; }
#select-item-count select {padding: 5px 35px 5px 5px;}
#select-item-count-text {color: gray; font-size: small;padding: 6px 15px;}
.pagination li {height: 22px;}

.scrollToTopBtn { border: none; background: none; color: green; cursor: pointer; font-size: 30px; line-height: 48px; width: 48px; position: fixed;
                  bottom: 20px; right: 20px; z-index: 100; opacity: 0; transform: translateY(100px); transition: all 0.5s ease; }
.showBtn { opacity: 1; transform: translateY(0); }
footer ul {background-color: #fff; opacity: .6; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px; padding: 15px 15px 15px 0;}
footer ul li {list-style-type: none; margin: 3px 0 3px 0;}
footer ul li a {color: #666060; font-size: 15px; opacity: .7;}
footer ul li a:hover {color: #333; font-weight: bolder; opacity: 1;}
#email_form {background-color: #fff; opacity: .6; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px; padding: 15px 15px 15px 0;}
#email_form p {font-size: 14px;}
.email_img {width: 15px; background-repeat: no-repeat; float: right;}
#email_form input {width: 60%; display: inline-flex}
#email_form i {position: absolute; top: 70px; right: 25px; font-size: 33px; color: #333;}
.txt_hint {width: 60%; padding: 7px 51px 7px 0;}
#social-icons a img {width: 30px;}
#sub-footer {float: right; width: 100%; text-align: center; color: #575656; background-color: #F7F7F7; vertical-align: center; font-size: 11px; opacity: .8; padding: 10px 0 0 0;}


@media (max-width: 575.98px) {
    .myDisplay_none_xs { display: none !important; }
    .h_align_sm { text-align: right !important; padding: 20px 50px 20px 0 !important; background-position-y: 20px !important; }
    .hidden-sm {display: none;}
    .nav-sec2_sm {background-color: #F7F7F7; color: #FF0000; cursor: pointer; transition: 0.5s all ease; list-style-type: none; border-top-right-radius: 10px; border-top-left-radius: 10px; width: 40%; margin: 5px;  text-align: center;}
}

@media (max-width: 767.98px) {
    .sec3-part1_pos_static { position: static !important; }
    .title_FLCheckBox { font-size: calc(0.450rem + 0.8vw) !important; }
    #sec3-part1 ul li {padding-right: 10px !important;}
    #sec3-part1 ul li span {position: absolute; top: 25px; right: 20px;}
    .FList_R { width: 100% !important; }
    .FList_L { width: 100% !important; }
    .h_align_sm { text-align: right !important; }
    .hidden-md {display: none;}
    .nav-sec2_md {background-color: #F7F7F7; color: #FF0000; cursor: pointer; transition: 0.5s all ease; list-style-type: none; border-top-right-radius: 10px; border-top-left-radius: 10px; width: 100%; margin: 5px;  text-align: center;}
    .email_form_input {width: 47% !important;}
}

@media (min-width: 767.99px) {
    
}

@media (min-width: 575.98px) and (max-width: 1185px){
    .h_align_sm { padding: 20px 50px 20px 0 !important; background-position-y: 20px !important; }
}

@media (min-width: 975px) and (max-width: 1185px){
    /* .FoodsList_style_bp { width: 534px !important; } */
}

@media (max-width: 991.98px) {
    .hidden-lg {display: none;}
    .nav-sec2_lg {background-color: #F7F7F7; color: #FF0000; cursor: pointer; transition: 0.5s all ease; list-style-type: none; border-top-right-radius: 10px; border-top-left-radius: 10px; width: 100%; margin: 5px;  text-align: center;}
}

@media (min-width: 1184px) {
    .email_form_input {width: 55% !important;}
}

@media (max-width: 1199.98px) {
    .hidden-xl {display: none;}
}

@media (min-width: 1199.99px) and (max-width: 1399.98px){
    /* .FoodsList_style_bp { width: 380px !important; } */
}

@media (max-width: 1399.98px) {
    .basket_width { width: 260px !important; }
    .hidden-xxl {display: none;}
}

@media (min-width: 1400px) {
    .hidden-xxl {display: none;}
}

