body {font-family: 'Yekan', sans-serif; background-image: url("images/bg.jpg"); border-top: 2px solid #FF0000;}

#nav-top {float: right; width: 100%; height: auto;}
#img-logo {width: 220px;}
#nav-sec1 ul li {cursor: pointer; transition: 0.5s all ease; display: inline-flex; list-style-type: none; margin: 0 2px; background-color: #FF0000; padding: 10px 20px; font-size: 14px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;}
#nav-sec1 ul li:hover{background-color: #019833;}
#nav-sec1 ul li a {color: #fff !important; text-decoration: none;}

#nav-sec2 li {display: inline-flex; margin: 0 !important;  padding: 0 3px; font-size: 14px; float: left;}
#nav-sec2 li a {background-color: #F7F7F7; color: #FF0000; cursor: pointer; transition: 0.5s all ease; list-style-type: none; border-top-right-radius: 10px; border-top-left-radius: 10px;}
#nav-sec2 li a:hover {background-color: #FF0000; color: #fff !important;}
#li-custom-nav a {background-color: inherit !important; font-size: 20px; color: #555555 !important; transition: 0.8s all ease; border-top-right-radius: 10px; border-top-left-radius: 10px;}
#li-custom-nav a:hover {background-color: #555555 !important; color: #fff !important;}
#sec2 {float: right; background-color: #FFFFFF; width: 100%; height: auto; color: #5A5555 !important; margin-top: -17px; opacity: .85;}
#sec2-left span {padding-left: 50px;}

#sec3 {float: right; width: 100%; height: 728px; background-image: url("images/bg2.jpg"); text-align: center; background-repeat: no-repeat; background-position: center;}
.title-style {color: #fff; text-align: center; font-size: 60px !important; padding-top: 150px;}
input::-webkit-calendar-picker-indicator {display: none !important;} /* برای حذف کردن نشانگر فلش در دیتا لیست */
datalist { position: absolute;background-color: white;border: 1px solid blue;border-radius: 0 0 5px 5px;border-top: none;font-family: sans-serif;width: 350px;padding: 5px;}
option { background-color: white;padding: 4px;color: blue;margin-bottom: 1px;font-size: 18px;cursor: pointer;}
#sec3-part1 ul {width: 65%; margin: 0 auto;}
#sec3-part1 ul li {float: right; list-style-type: none; padding: 15px 10px 15px 10px; background-color: rgba(0, 0, 0, 0.5);}
#sec3-part1 ul li:nth-child(1) {padding-right: 10px !important;}
#sec3-part1 ul li:nth-child(4) {padding-left: 10px !important;}
#sec3-part1 ul li span {position: absolute; top: 25px; right: 10px;}
#sec3-part1 ul li span img {width: 30px;}
#sec3-part1 ul li input {padding: 12px 45px 12px 5px; font-size: 18px; width: 100%;}
#form-search {padding: 0 0 0 0 !important;}
.form-search {background-image: url("images/search.svg"); background-repeat: no-repeat; background-position: left; background-size: 30px; background-position-x: 10px;}
#form-search input {width: 90%; font-size: 18px; padding: 15px 0 12px 10px !important; color: #fff; background-color: #FF0000; transition: 0.5s all ease-in; height: 64px;}
#form-search input:hover {background-color: #1404CD; cursor: pointer;}
#sec3-part2 {text-align: center; color: #fff; font-size: 20px;}
#sec3-part2 ul {float: right;  width: 100%; display: flex; justify-content: center;}
#sec3-part2 ul li {list-style-type: none;}
.custom_badge {position: absolute; width: 50px; height: 50px; border: 2px solid red; background-color: #ffffff; border-radius: 50%; top: 60px; right: -9px;}
.custom_badge p span {color: red; font-size: 15px; vertical-align: sub;}
.circle_div {width: 100px; height: 100px; border: 6px solid #ffffff; border-radius: 50%; box-sizing: content-box; position: relative; margin: 0 auto; transition: .6s all ease-in;}
.food_service {background-image: url("images/foods.png");}
.food_service:hover {opacity: .6}
.mamies_service {background-image: url("images/mamies.png");}
.mamies_service:hover {opacity: .6}
.city_service {background-image: url("images/cities.png");}
.city_service:hover {opacity: .6}

#sec4 {float: right; background-color: #F7F7F7; width: 100%; height: auto;}
#sec4 ul {float: right; width: 100%; display: flex; justify-content: center;}
#sec4 ul li {list-style-type: none; margin: -30px 10px 0 0 !important; text-align: center; border-bottom: 2px solid #CCCCCC;}
#sec4 ul li div:hover {transform: scale(1.4);}
#sec4 ul li p {margin-top: 10px;}
.arrow-custom1 {margin: 0 30px 50px -15px; width: 30px; height: 30px;}
.arrow-custom2 {margin: 0 0 0 30px !important; width: 30px; height: 30px;}
#sec4-banners {float: right; width: 100%; height: auto;}
#sec4-banners-part1 div {margin: 0 !important; padding: 0 !important;}
#sec4-banners-part2 div {margin: 0 !important; padding: 0 !important;}
#sec4-banners a {margin: -1px !important; padding: 0 !important;}
#sec4-banners a img {transition: .4s all ease-in;}
#sec4-banners a img:hover {opacity: .6; box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 2px 0 rgba(0, 0, 0, 0.19);}

#sec5 {float: right; width: 100%; height: auto; background-color: #fff;}
#sec5 p {line-height: 1.8; color: #867979;}
#sec5 p b {font-size: large; color: #000000; font-weight: bolder;}
#sec5 h5 {margin: 0 0 20px 0;}
#sec5 ul li {color: #867979; margin: 10px; font-size: 14px;}
#sec6 {float: right; width: 100%; height: auto; background-color: #F7F7F7;}
#sec6 h5 {color: #867A79; font-size: 22px; padding-bottom: 20px;}
#cities {border-top: 5px solid #B6FF00;}
#cities img {width: 40px; height: 40px;}
#cities a {width: max-content; margin: 3px; padding: 5px 15px; font-size: 14px; display: inline-flex; text-decoration: none; color: #FF0000; background-color: #fff; transition: 0.5s all ease-in; border-radius: 10px; border: 1px solid #FF0000;}
#cities a:hover {color: #fff; background-color: #FF0000;}
#share_site img {width: 25px; height: 25px; padding-left: 5px;}
#share_site a {float: right; color: #fff; text-decoration: none; font-size: 12px; border-radius: 10px; padding: 5px 15px; background-color: #00C8FF; border: 3px solid #cdeaee;}
#share_site a:hover {color: #00C8FF; background-color: #D9F6FE; border: 3px solid #00C8FF;}
#share_site button {background-color: #D9FF79; border-radius: 12px; float: left; font-size: 14px;}
#share_site button:hover {background-color: #3AB23D; color: #fff;}

footer ul {background-color: #fff; opacity: .6; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px; padding: 15px 15px 15px 0;}
footer ul li {list-style-type: none; margin: 3px 0 3px 0;}
footer ul li a {color: #666060; font-size: 15px; opacity: .7;}
footer ul li a:hover {color: #333; font-weight: bolder; opacity: 1;}
#email_form {background-color: #fff; opacity: .6; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px; padding: 15px 15px 15px 0;}
#email_form p {font-size: 14px;}
.email_img {width: 15px; background-repeat: no-repeat; float: right;}
#email_form input {width: 60%; display: inline-flex}
#email_form i {position: absolute; top: 70px; right: 25px; font-size: 33px; color: #333;}
.txt_hint {width: 60%; padding: 7px 51px 7px 0;}
#social-icons a img {width: 30px;}
#sub-footer {float: right; width: 100%; text-align: center; color: #575656; background-color: #F7F7F7; vertical-align: center; font-size: 11px; opacity: .8; padding: 10px 0 0 0;}

@media (max-width: 575.98px) {
    .hidden-sm {display: none;}
    .nav-sec2_sm {background-color: #F7F7F7; color: #FF0000; cursor: pointer; transition: 0.5s all ease; list-style-type: none; border-top-right-radius: 10px; border-top-left-radius: 10px; width: 40%; margin: 5px;  text-align: center;}
}

@media (max-width: 767.98px) {
    .hidden-md {display: none;}
    .nav-sec2_md {background-color: #F7F7F7; color: #FF0000; cursor: pointer; transition: 0.5s all ease; list-style-type: none; border-top-right-radius: 10px; border-top-left-radius: 10px; width: 100%; margin: 5px;  text-align: center;}
    .chief_hidden_md {display: none;}
    .title-style_md {font-size: 40px !important;}
    .sec3-part1_ul_options {width: 100% !important;}
    .sec3-part1_ul_li_options {padding: 3px 10px !important;}
    .email_form_input {width: 47% !important;}
}

@media (min-width: 767.99px) {
    .sec3-part1_ul_li_options_xl {padding: 10px 10px 10px 10px !important;}
}

@media (min-width: 975px) and (max-width: 1185px){
    .title-style_pos {padding-top: 50px;}
}

@media (max-width: 991.98px) {
    .hidden-lg {display: none;}
    .chief_reSize_lg {left: 4% !important;}
    .nav-sec2_lg {background-color: #F7F7F7; color: #FF0000; cursor: pointer; transition: 0.5s all ease; list-style-type: none; border-top-right-radius: 10px; border-top-left-radius: 10px; width: 100%; margin: 5px;  text-align: center;}
    .title-style_lg {padding-top: 50px;}
}

@media (min-width: 1184px) {
    .email_form_input {width: 55% !important;}
}

@media (max-width: 1199.98px) {
    .hidden-xl {display: none;}
    .chief_reSize_xl {left: 4% !important;}
}

@media (max-width: 1399.98px) {
    .hidden-xxl {display: none;}
    .chief_reSize_xxl {left: 6% !important;}
}

@media (min-width: 1400px) {
    .hidden-xxl {display: none;}
    .chief_reSize_xxxl {left: 11% !important;}
}